.custom-bg-beige {
    background-color: #D7BA89;
}

.custom-bg-pink {
    /* background-color: #B47EB3; */
    background-color: #A799B7;
}

.custom-bg-purple {
    /* background-color: #462255; */
    background-color: #533A71;
}